* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

:root {
  --font-family: "Rubik", sans-serif;
  --color-text-menu: #4a4a4a;
  --color-text-title: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
}
.logo {
  width: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu {
  font-family: #4a4a4a;
  font-size: 16px;
  text-align: center;
  margin-bottom: 13px;
}
.contenido {
  width: 100vw;
  height: 100vh;
  background-color: #3cdbc0;
}
.title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  color: #ffffff;
}

@media all and (min-width: 768px) {
}
